src/MyChoices.Portal/node_modules/*
.vs/*
src/MyChoices.Portal/bin/*
src/MyChoices.Portal/obj/*
src/MyChoices.Portal/stats.json
src/MyChoices.Portal/AngularSpa/dist/*
src/MyChoices.Portal/wwwroot/dist/*
src/MyChoices.Portal/AngularSpa/*.js
src/MyChoices.Portal/AngularSpa/*.map
src/MyChoices.Portal/AngularSpa/app/*.js
src/MyChoices.Portal/AngularSpa/app/*.map
src/MyChoices.Portal/AngularSpa/app/components/*.map
src/MyChoices.Portal/AngularSpa/app/components/**/*.js
src/MyChoices.Portal/AngularSpa/app/components/**/*.map
src/MyChoices.Portal/AngularSpa/app/**/**/**/*.js
src/MyChoices.Portal/AngularSpa/app/**/**/**/*.map
src/MyChoices.Portal/wwwroot/assets/**/*
src/MyChoices.Portal/wwwroot/*
src/MyChoices.Portal/src/app/pages/**/**/*.map
src/MyChoices.Portal/src/app/**/**/**/*.map
src/MyChoices.Portal/src/*.js
src/MyChoices.Portal/src/*.map
src/MyChoices.Portal/src/app/pages/**/**/**/*.js
src/MyChoices.Portal/src/app/pages/**/**/**/*.map
src/MyChoices.Portal/src/app/*.js
src/MyChoices.Portal/src/app/**/**/**/*.js
