src/MyChoices.Portal/node_modules/*
.vs/*
src/MyChoices.Portal/bin/*
src/MyChoices.Portal/obj/*
src/MyChoices.Portal/stats.json
src/MyChoices.Portal/AngularSpa/dist/*
src/MyChoices.Portal/wwwroot/dist/*
src/MyChoices.Portal/AngularSpa/*.js
src/MyChoices.Portal/AngularSpa/app/*.js
src/MyChoices.Portal/AngularSpa/app/*.map
src/MyChoices.Portal/AngularSpa/app/components/*.map