MyChoices.Portal/node_modules/*
.vs/*
MyChoices.Portal/bin/*
MyChoices.Portal/obj/*
MyChoices.Portal/stats.json
MyChoices.Portal/wwwroot/*
MyChoices.Portal/src/app/pages/**/**/*.map
MyChoices.Portal/src/app/**/**/**/*.map
MyChoices.Portal/src/*.js
MyChoices.Portal/src/*.map
MyChoices.Portal/src/app/pages/**/**/**/*.js
MyChoices.Portal/src/app/pages/**/**/**/*.map
MyChoices.Portal/src/app/*.js
MyChoices.Portal/src/app/**/**/**/*.js
MyChoices.Portal/src/app/**/**/*.map
MyChoices.Portal/src/app/**/**/*.js
MyChoices.Portal/wwwroot/*
