@{
    ViewData["Title"] = "Home Page";
}

@*Commenting out so that sass will hot reload. This should be uncommented for prod release*@

@*<app asp-prerender-module="AngularSpa/dist/main-server">Loading...</app>*@


<app>Loading...</app>

<div id="preloader">
    <div></div>
</div>

@section scripts {
    <script src="https://code.angularjs.org/tools/system.js"></script>
    <script src="~/vendor.js" asp-append-version="true"></script>
    <script src="~/main-client.js" asp-append-version="true"></script>
}
