@{
    ViewData["Title"] = "Home Page";
}

@*Commenting out so that sass will hot reload. This should be uncommented for prod release*@

@*<app asp-prerender-module="AngularSpa/dist/main-server">Loading...</app>*@


 <app>
</app>
<div id="preloader">
    <div></div>
</div>

<link href="initial.css" rel="stylesheet">
<script type="text/javascript" src="~/polyfills.bundle.js" defer></script>
<script type="text/javascript" src="~/vendor.bundle.js" defer></script>
<script type="text/javascript" src="~/main.bundle.js" defer></script>