<div [formGroup]="form">
  
  <div [ngSwitch]="question.controlType">

      <div *ngSwitchCase="'textbox'" class="form-group">
        <label [attr.for]="question.key">{{question.label}}</label>
        <input [formControlName]="question.key"
            [id]="question.key" [type]="question.type" [class]="question.cssClass">
      </div>

      <div *ngSwitchCase="'dropdown'" class="form-group">
        <label [attr.for]="question.key">{{question.label}}</label>
        <select [id]="question.key" [formControlName]="question.key" [class]="question.cssClass">
        <option *ngFor="let opt of question.options" [value]="opt.key">{{opt.value}}</option>
        </select>
       </div>

       <div *ngSwitchCase="'radio'" class="form-group">
        <div>
          <label [attr.for]="question.key">{{question.label}}</label>
        </div>
        <div [class]="question.cssClass">
          <div class="form-check " *ngFor="let opt of question.options" >
            <label class="radio-inline custom-radio nowrap">
              <input class="form-check-input" type="radio" [formControlName]="question.key" [id]="opt.key" [value]="opt.key">
              <span>{{opt.value}}</span>
            </label>
          </div>
        </div>
       </div>

       <div *ngSwitchCase="'checkbox'" class="form-group">
        <div>
          <label [attr.for]="question.key">{{question.label}}</label>
        </div>
        <div [class]="question.cssClass">
          <div class="form-check" *ngFor="let opt of question.options">
            <label class="form-check-label checkbox-inline custom-checkbox nowrap">
              <input class="form-check-input" type="checkbox" [checked]=state>
              <span>{{opt.value}}</span>
            </label>
          </div>
        </div>
       </div>
  </div> 
  <div class="errorMessage" *ngIf="!isValid">{{question.label}} is required</div>
</div>
